.lightbox a {
  border: 0;
}
.lightbox-content {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  user-select: none;
}

.lightbox-content .lightbox-image-container {
  width: 100%;
  height: 100%;
  margin: auto;
  position: relative;
  text-align: center;
  flex-direction: row;
  white-space: nowrap;
  transition: .3s transform ease-out;
  will-change: transform;
  cursor: grab;
}

.lightbox-content .lightbox-image-container .lightbox-image {
  display: inline-flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  box-sizing: border-box;
}

.lightbox-content .lightbox-image-container .lightbox-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  max-width: 50rem;
}

.lightbox-close {
  position: absolute;
  top: 0;
  right: .5rem;
  width: 3rem;
  height: 3rem;
  background: url('close.svg') 100% center / contain no-repeat;
  color: #000;
  border: 0;
  padding: 1rem;
  cursor: pointer;
  z-index: 1000;
}

.lightbox-prev,
.lightbox-next {
  position: fixed;
  top: 0;
  width: 50%;
  height: 100%;
  border: 0;
  color: #000;
  font-size: 2rem;
  cursor: none;
}

.lightbox-prev {
  left: 0;
}

.lightbox-next {
  right: 0;
}

.lightbox-cursor {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 146px;
  transform: translate(-100px, -73px);
  z-index: 500;
  pointer-events: none;
}

.lightbox-cursor.prev {
  background: url('left.svg') 100% center / contain no-repeat;
  transform: translate(0, -73px);
}

.lightbox-cursor.next {
  background: url('right.svg') 100% center / contain no-repeat;
  transform: translate(-200px, -73px);
}

@media (pointer: coarse) {
  .lightbox-prev,
  .lightbox-next {
    display: none;
  }
}